.chapter{
    margin-bottom:10px;
    width: 75px;
   display:  inline-block;
}
.chapter a {
    border: solid 1px #FF7F24;
    text-decoration: none;
    background: #458B00;
    color: #f5f5f5;
    margin-right: 5px;
}

.chapter a:hover {
    background: #98FB98;
    color: green;
}

.fav{
width: 24px;
    height: 24px;
}